h1{font-size:70px;font-family:'Times New Roman';color:black;width:100%;text-align: center;background-color:white;margin:auto;}
body{font-size:40px;font-family:'Times New Roman';color:black;text-align:center;}
div{font-size:30px;font-family:'Times New Roman';color:black;text-align:center;}
img{width:144px;height:192px;}